
@font-face {
    font-family: 'karla';
    src: url('../fonts/karla-bold-webfont.woff2') format('woff2'),
         url('../fonts/karla-bold-webfont.woff') format('woff');
    font-weight: bold;
    font-style: normal;

}

@font-face {
    font-family: 'karla';
    src: url('../fonts/karla-regular-webfont.woff2') format('woff2'),
         url('../fonts/karla-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

*, :after, :before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*                                      ____________________
/*======================================    Container layout
*/

* {
    outline: inherit;
}

body {
    background-color: hsl(204, 43%, 93%);
}

main {
    --margin-side: calc(34.74vw - 98.28px);
    margin: calc(40.31px + 8.45vw) var(--margin-side) calc(46.72px + 8.08vw) var(--margin-side);
    max-width: max-content;
    
    --main-border-radius: calc(0.2816901vw + 3.94366px);
    border-radius: var(--main-border-radius);
    background-color: white;
    /* outline: solid 1px green;     */
}

.intro {
    height: max(217, calc(284.61px - 4.69vw));
}

.details {
    /* 
        "overflow: hidden" creates a block-formatting context to
        contain the float element .why-us

        This method is compatible with older browsers (contrasting 
        with "display: flow-root")
    */
    overflow: hidden;
    max-width: max-content;
    border-bottom-left-radius: min(8px, var(--main-border-radius));
    border-bottom-right-radius: min(8px, var(--main-border-radius));
    --child-width: calc(308.53px + 0.657vw);
    background-color: hsl(179, 62%, 40%);    
}

.subscription {
    display: inline-block;
    width: var(--child-width);    
    height: min(260px, calc(214.03px + 3.19vw));
    background-color: hsl(179, 62%, 43%);
}

.why-us {    
    float: right;
    width: var(--child-width);
    height: min(260px, calc(214.03px + 3.19vw));
    background-color: hsl(179, 62%, 48%);
}
/*                                    End of Container layout  
/*==========================================================*/


/*                                      ____________________
/*======================================    Inner layout
*/

html {
    font-family: karla, sans-serif;
    font-size: 16px;
}


section {
    padding: 25px 25px; 
}

h1 {
    font-size: min(23.36px, calc(0.4657vw + 16.6535px));
    font-weight: bold;
    letter-spacing:calc(0.81127px - 0.056338vw);
    margin-bottom: 25px;
    color: hsl(179, 62%, 43%);
}

h2 {
    font-size: 1.1rem;
    font-weight: bold;
    letter-spacing: 0;
    margin-bottom: 18px;
}

.intro {
    padding-top: 28px;
}

.intro > p:first-of-type {
    font-size: min(17.6px, calc(0.22535vw + 14.355px)); /* 0.95:1.1rem */
    font-weight: bold;
    letter-spacing: calc(0.03286vw - 0.12324px);  /* 0:0.35px */
    line-height: 1.22rem;
    margin-bottom: 18px;
    width: 100%;
    color: hsl(71, 73%, 54%);
}

.intro p {    
    font-size: min(15.52px, calc(0.1802817vw + 12.92395px));     /* 0.85:0.97rem */
    letter-spacing: calc(0.0032864vw - 0.012324px);  /* 0:0.035px */
    line-height: 1.6rem;
    width: min(100%, 558px);
    color: hsl(218, 22%, 67%);
}

.details {
    color: white;
}

.subscription p:last-of-type {
    font-size: 0.95rem;
    letter-spacing: 0;
    margin-bottom: 28px;
}

.sub-price span:last-child {
    font-size: 0.94rem;
    vertical-align: middle;
    word-spacing: initial;
}

.sub-price {
    font-size: 2rem;
    font-weight: bold;    
    word-spacing: 0.15rem;
    line-height: 2rem;
    margin-bottom: 10px;
}

.subscription .button {
    font-weight: bold;
    width: max(238px, calc(274.507px - 2.5352113vw));       /* 265:238px */
    height: 50px;
    line-height: 50px;
    text-align: center;
    border-radius: 5px;
    background-color: hsl(71, 73%, 54%);
    box-shadow: 0 10px 5px rgba(0,0,0,0.1);
}

.why-us {
    font-size: 0.85rem;
    letter-spacing: 0;
    line-height: 1.25rem;
}

.attribution {
    width: 100%;
    text-align: center;
    padding: 20px;
    background-color: rgba(0,0,0,0.1);
    text-shadow: 2px 2px 2px rgba(0,0,0,0.3);
}
/*                                    End of Inner layout  
/*==========================================================*/