
@font-face {
    font-family: 'karla';
    src: url('../fonts/karla-bold-webfont.woff2') format('woff2'),
         url('../fonts/karla-bold-webfont.woff') format('woff');
    font-weight: bold;
    font-style: normal;

}

@font-face {
    font-family: 'karla';
    src: url('../fonts/karla-regular-webfont.woff2') format('woff2'),
         url('../fonts/karla-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

*, :after, :before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-family: karla, sans-serif;
}

/*                                      ____________________
/*======================================    Container layout
*/

* {
    outline: inherit;
}

main {
    --margin-side: calc(34.74vw - 98.28px);
    margin: calc(40.31px + 8.45vw) var(--margin-side) calc(46.72px + 8.08vw) var(--margin-side);
    max-width: max-content;
    
    outline: solid 1px green;    
}

section {
    padding: 20px; 
}

.intro {
    height: calc(284.61px - 4.69vw);
}

.details {
    /* 
        "overflow: hidden" creates a block-formatting context to
        contain the float element .why-us

        This method is compatible with older browsers (contrasting 
        with "display: flow-root")
    */
    overflow: hidden;
    max-width: max-content;
    --child-width: calc(308.53px + 0.657vw);
}

.subscription {
    display: inline-block;
    width: var(--child-width);    
    height: calc(214.03px + 3.19vw);
}

.why-us {    
    float: right;
    width: var(--child-width);
    height: calc(214.03px + 3.19vw);
}
/*                                    End of Container layout  
/*==========================================================*/


/*                                      ____________________
/*======================================    Inner layout
*/

.attribution {
    width: 100%;
    text-align: center;
    padding: 20px;
    background-color: rgba(0,0,0,0.1);
    text-shadow: 2px 2px 2px rgba(0,0,0,0.3);
}
/*                                    End of Inner layout  
/*==========================================================*/